---
import JoinBlock from '@moscowcss/ui/components/JoinBlock';
import { section, inner } from './JoinSection.css';
---

<section class={section}>
  <div class={inner}>
    <JoinBlock />
  </div>
</section>
