---
import type { HTMLAttributes } from 'astro/types';
import { root } from './{{pascalCase name}}.css';

interface Props extends HTMLAttributes<'div'> {
  // свои дополнительные пропсы
}

const { class: className, ...attrs } = Astro.props;
---
<div class:list={[root, className]} {...attrs}>
  <slot />
</div>
