---
import '@moscowcss/fonts';
import Button from '@moscowcss/ui/components/Button';
import { ArrowRight } from '@moscowcss/icons';
---
<html lang="en" data-theme="light">
  <head>
    <meta charset="utf-8" />
    <title>Site</title>
  </head>
  <body>
    <h1>Hello</h1>
    <Button>Go <ArrowRight size="20" /></Button>
  </body>
</html>
